{{! Formulário }}
<form action="">
    <img src="imgs/spooky.png" alt="erro" />
    <input type="text" placeholder="Nome" class="form-control" />
    <input type="text" placeholder="Idade" class="form-control" />
    <input type="submit" value="Cadastrar" class="btn btn-primary" />
</form>

{