{{! Formulário }}
<form action="">
    <img src="imgs/spooky.png" alt="erro" />
    <input type="text" placeholder="Nome" class="form-control" />
    <input type="text" placeholder="Idade" class="form-control" />
    <input type="submit" value="Cadastrar" class="btn btn-primary" />
</form>

{{! Tabela com dados dos usuários }}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Selecionar</th>
        </tr>
    </thead>
    <tbody>
        {{#each dados}}
            <tr>
                <td>{{nome}}</td>
                <td>{{idade}}</td>
                <td><a href="selecionar/{{id}}">Selecionar</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>