{{! Formulário }}
<form action="/edit" method="POST">
    <img src="/imgs/spooky.png" alt="user profile image" />

    <input type="hidden" value={{data.id}} name="id" class="form-control" />
    <input type="text" value={{data.nome}} placeholder="Nome" name="nome" class="form-control" />
    <input type="text"value={{data.idade}}  placeholder="Idade" name="idade" class="form-control" />
    
    <div class="btn-actions">
        <input type="submit" value="Editar" class="btn btn-success" />
        <a href="#" class="btn btn-danger">Remover</a>
        <a href="/" class="btn btn-secondary">Cancelar</a>
    </div>
</form>

