{{! Formulário }}
<form action="/register" method="POST">
    <img src="/imgs/spooky.png" alt="user profile image" />

    <input type="text" value={{data.nome}} placeholder="Nome" name="nome" class="form-control" />
    <input type="text"value={{data.idade}}  placeholder="Idade" name="idade" class="form-control" />
    <div>
    <input type="submit" value="Editar" class="btn btn-warning" />
    <a href="#" class="btn btn-danger">Remover</a>
    <a href="/" class="btn btn-secondary">Cancelar</a>

    </div>
</form>

